@import "../abstracts/variables";

.logo {
  cursor: pointer;
  h5 {
    line-height: 2rem;
    letter-spacing: -1px;
    font-size: 1.5rem;
    font-weight: 700;
    span {
      color: $secondry-color;
    }
  }
  p {
    letter-spacing: 2px;
    background-color: rgba($color: white, $alpha: 0.5);
  }
}

.page-header {
  h4 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 1rem;
      height: .1rem;
      bottom: 0;
      background-color: $secondry-color;
    }
  }
  p {
    color: $darkGrey-color;
    max-width: 400px;
  }
}


.card-item {
  // cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 40px;
  border: 2px dashed $secondry-color;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in;
  background-color: #e6f7ff;
  color:$darkGrey-color;
  h1 {
    font-size: 5rem;
    color: $secondry-color;

  }
  p{
    // text-wrap: nowrap;
    text-align: center;
  }
}
.card-item:hover {
  transform: scale(0.95);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
