$secondry-color:#3252DF;
$primary-color: black;
$darkGrey-color: #4D4D4D;
$green-color: #1ABC9C;
$red-color: #E74C3C;
$lightGrey-color: #FDFFFC;

$border-reduis: 0.25rem;
$transitoon: all 0.3s ease-in;

$border-cardWidth: 1px solid rgba(0, 0, 0, 0.20);
$bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
