<section id="landing-page" class="p-4">
  <div class="container-fluid">
    <div class="row ">
      <div class="page-header">
        <h4>{{"DashBoard.title" | translate}}</h4>
        <p>
          {{"DashBoard.paragraph" | translate}}
        </p>
      </div>

      <div class="card-item col-md-3 m-5">
        <h3>
          <i class="fa-solid fa-users fa-3x"></i>
        </h3>
        <div
          class="d-flex flex-column justify-content-between align-items-center"
        >
          <h1>{{empsTotalCount}}</h1>
          <p>{{"DashBoard.Empolyees Count" | translate}}</p>
        </div>
      </div>
      <div class="card-item col-md-3 m-5">
        <h3>
          <i class="fa-solid  fa-3x fa-user-plus"></i>
        </h3>
        <div
          class="d-flex flex-column justify-content-between align-items-center"
        >
          <h1>{{currentYearEmps}}</h1>
          <p>{{"DashBoard.New Hiring(2024)" | translate}}</p>
        </div>
      </div>
      <div class="card-item col-md-3 m-5">
        <h3>
          <i class="fa-solid text-main fa-3x fa-user-gear"></i>
        </h3>
        <div
          class="d-flex flex-column justify-content-between align-items-center"
        >
          <h1>{{deptCountEmps}}</h1>
          <p>{{"DashBoard.Sales Department Count" | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
